<!-- counterup jquery animated counter -->
<style>

#counterUP .col-md-4 {
  text-align: center;
  padding-bottom: 50px;
  background:red;
  
}

#counterUP .counter {
  animation-duration: 1s;
  animation-delay: 0s;
  color:orange;
  font-size:33px;
}

#counterUP i {
  font-size:30px !Important;
}

@media (max-width: 991px) {
  #counterUP .col-md-4 {
    width: 50%;
    margin: auto auto;
  }
  
}
</style>

<section id="counterUP">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="counter">0</p>
        <h3>Customers</h3>
        <i class="fa fa-users"></i>
      </div> 
      <div class="col-md-4">
        <p class="counter">0</p>
        <h3>Total Web Pages</h3>
        <i class="fa fa-desktop"></i>
      </div>
      <div class="col-md-4">
        <p class="counter">0</p>
        <h3>Cups Of Coffee</h3>
        <i class="fa fa-coffee"></i>
      </div>
    </div>
  </div>
</section>



{% block script %}
  <script>

let count=document.querySelectorAll(".counter");
let counter = 0 , idSetInterval;

idSetInterval = setInterval(valueCount, 80)

function valueCount(){

  counter++;
  //count.innerHTML=counter;
  count[0].innerHTML=counter;
  count[1].innerHTML=counter;
  count[2].innerHTML=counter;


  if(counter > 150){
    
    console.log('end counter');
    clearInterval(idSetInterval);
  }
}

       
  </script>
{% endblock  %}
