
<!-- counterup jquery animated counter -->
<style>

#home-IsoLogo img {
    width: 50%;
  }
  

@media (max-width: 991px) {
  #home-IsoLogo {
    width: 100%;
    margin: auto auto;
  }
  
}
</style>

<!--home_icon_section  -->
  <section  id="home-IsoLogo" class="  my-lg-3 py-lg-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-xl-3 mb-4 text-center" data-aos="fade-right">
          <img src="{{URLROOT}}/public/img/isoLogo/award-logo.png" class=" img-fluid"/>
        </div>
       
        <div class="col-sm-3 col-xl-3 mb-4 text-center" data-aos="fade-up">
          <img src="{{URLROOT}}/public/img/isoLogo/iso-logo.png" class="img-fluid"/>
        </div>
      
         <div class="col-sm-3 col-xl-3 mb-4 text-center" data-aos="fade-up">
           <img src="{{URLROOT}}/public/img/isoLogo/realself-logo.png" class=" img-fluid"/>
        </div>
       
         <div class="col-sm-3 col-xl-3 mb-4 text-center" data-aos="fade-left">
           <img src="{{URLROOT}}/public/img/isoLogo/medicalpark.png" class=" img-fluid"/>
        </div>
      </div>
    </div>
  </section>