<!-- showcase background Image -->

<style>
#showcaseBackgroundImage .bg {

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; 
  width:100%;  
  /* local */
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url('http://localhost/ARAM/public/img/showcase/image1.jpg');
  /* server 
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url('https://www.aram-clinic.com/public/img/showcase/image1.jpg');*/
  /*background-image: url("https://source.unsplash.com/random/800x600");*/
  /*background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("https://source.unsplash.com/random/1800x1200");*/

}

{# {{URLROOT}} #}
{# 'http://localhost/ARAM/public/img/showcase/image1.jpg' #}
#showcaseBackgroundImage .workspaceImage{
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:-999;
  
}

#showcaseBackgroundImage .captionShowcaseImage{
  position:absolute;
  color:white;
  font-weight:bold;
  font-size:2.5em;
  text-align:center;
  
}


</style>


  <section id="showcaseBackgroundImage">
    <div class="workspaceImage">
      
        <div class="bg"></div>
      
        <div class="captionShowcaseImage"> 
            <p> Welcome to ARAM CLINIC </p>
        </div>


    </div>
        
        


  </section>


   