<style>
.video-fluid {
  width: 100%;
  /*height: auto; */
  height: 100%;
}
</style>



<!-- video GALLERY -->
<!-- video gllery_section -->
  <section id="gallery" class="py-5">
    <div class="container">
     
      <h1 class="text-center">PHOTOS AVANT APRES </h1>
      <p class="text-center">Voyez les résultats</p>

      <div class="row mb-4">

        <div class="col-md-4  mb-2">
            <video class="video-fluid z-depth-1" controls loop muted>
              <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4" />
            </video>
        </div>

        <div class="col-md-4  mb-2">
          <video class="video-fluid z-depth-1" controls loop muted>
              <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4" />
            </video>
        </div>

        <div class="col-md-4  mb-2">
          <video class="video-fluid z-depth-1" controls loop muted>
              <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4" />
            </video>
        </div>

      </div>

      <div class="row mb-4">

        <div class="col-md-4 mb-2">
            <video class="video-fluid z-depth-1" controls loop muted>
              <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4" />
            </video>
        </div>

        <div class="col-md-4 mb-2">
          <video class="video-fluid z-depth-1" controls loop muted>
              <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4" />
            </video>
        </div>

        <div class="col-md-4 mb-2">
          <video class="video-fluid z-depth-1" controls loop muted>
              <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4" />
            </video>
        </div>

      </div>


      

    </div>
  </section>