<style>

#vidgallery img:hover {
  transform:scale(1.05, 1.05);
  box-shadow:1px 1px 5px 3px grey,-1px -1px 5px 3px grey;
}


</style>



<!-- video GALLERY -->
<!-- video gllery_section -->
  <section id="vidgallery" class="py-5">
    <div class="container">
     
      <h1 class="text-center">Videos AVANT APRES </h1>
      <p class="text-center">Voyez les résultats</p>

    <div class="videos py-5">  
      
      <div class="row mb-4">
            <div class="col-md-4 mb-2" data-aos="zoom-in-right">
                <div class="video d-flex justify-content-center  " style="position:relative">
                    <a class="venobox align-items-center" data-autoplay="true" data-vbtype="video" href="http://youtu.be/T6mMaHXTlHg" data-gall="myGallery">
                      <img src="{{URLROOT}}/public/img/barbe/barbe1.jpg" alt="" style="width:100%" class="img-thumbnail">
                          <i class="fas fa-play-circle fa-3x rounded-circle" style="border:1px solid #C3922E;position:absolute;z-index:999;left:40%;top:50%; color:#fff;background-color:#0C3537;"> </i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4 mb-2" data-aos="zoom-in" >
                <div class="video d-flex justify-content-center  " style="position:relative">
                    <a class="venobox align-items-center" data-autoplay="true" data-vbtype="video" href="http://youtu.be/T6mMaHXTlHg" data-gall="myGallery">
                      <img src="{{URLROOT}}/public/img/barbe/barbe1.jpg" alt="" style="width:100%" class="img-thumbnail">
                          <i class="fas fa-play-circle fa-3x rounded-circle" style="border:1px solid #C3922E;position:absolute;z-index:999;left:40%;top:50%; color:#fff;background-color:#0C3537;"> </i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4 mb-2" data-aos="zoom-in-left">
                <div class="video d-flex justify-content-center  " style="position:relative">
                    <a class="venobox align-items-center" data-autoplay="true" data-vbtype="video" href="http://youtu.be/T6mMaHXTlHg" data-gall="myGallery">
                      <img src="{{URLROOT}}/public/img/barbe/barbe1.jpg" alt="" style="width:100%" class="img-thumbnail">
                          <i class="fas fa-play-circle fa-3x rounded-circle" style="border:1px solid #C3922E;position:absolute;z-index:999;left:40%;top:50%; color:#fff;background-color:#0C3537;"> </i>
                    </a>
                </div>
            </div>
        </div>

    </div>

     
            <!--<div class="col-md-4  mb-2">
                <video class="video-fluid z-depth-1" controls loop muted>
                  <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4" />
                </video>
            </div>

            <div class="col-md-4  mb-2">
              <video class="video-fluid z-depth-1" controls loop muted>
                  <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4" />
                </video>
            </div>

            <div class="col-md-4  mb-2">
              <video class="video-fluid z-depth-1" controls loop muted>
                  <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4" />
                </video>
            </div>-->



      

    </div>
  </section>


  {# {% block script %}
    <script>
          $(document).ready(function(){
              $('.venobox').venobox(); 
          });


          
    </script>

  {% endblock  %} #}