<style>
.headingAR {
  font-family: "Times New Roman", Times, serif;
  font-size: 150%;
  text-align:right;
}
</style>



  <section  dir="rtl" id="home-heading" class=" headingAR p-5 img-fluid">
    <div  dir="rtl" class="dark-overlay">
      <div  dir="rtl" class="row">
        <div  dir="rtl" class="col">
          <div  dir="rtl" class="container pt-5">
            <h1  dir="rtl" class="d-none d-md-block"> ابدأ الآن في تحسين شعرك</h1>
            <p  dir="rtl"  class="d-none d-md-block">فاتورتك في أقل من دقيقة</p>
          </div>
        </div>
      </div>
    </div>
  </section>
    