{% extends 'layout.twig' %}

{% block head %}
    <title> soins Dentaires </title>
    <style>
          

          </style>
{% endblock  %}

{% block content %}

                         {% if LANG == 'fr' %}
                            {% include('/components/nosTraitements/fr/medecineEsthethique.twig') %}
                            
                          {% endif %}

                          {% if LANG == 'en' %}
                            {% include('/components/nosTraitements/en/medecineEsthethique.twig') %}
                            
                          {% endif %}

                          {% if LANG == 'gr' %}
                             {% include('/components/nosTraitements/gr/medecineEsthethique.twig') %}
                           
                          {% endif %}  

                          {% if LANG == 'ar' %}
                           {% include('/components/nosTraitements/ar/medecineEsthethique.twig') %}
                         
                          {% endif %}


{% endblock  %}

{# {% switch test %}
	{% case 1 %}
		test is 1
	{% case 2 %}
		{% if othervar == 2 %}
			test is 2
		{% else %}
			test is 2
		{% endif %}
	{% case 0 %}
		test is 2
{% endswitch %} #}