 <!-- PAGE HEADER -->
  <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
<<<<<<< HEAD:app/views/homes/data/contact/ar/pageHeader.twig
          <h1>Contacter  Nous  {{LANG}}</h1>
=======
          <h1>Contacter  Nous</h1>
>>>>>>> 4f6e33e88789a3fda35540708f45468586efa454:app/views/homes/data/contact/fr/pageHeader.twig
          <p>Lorem ipsum, dolor session  sit amet consectetur adipisicing elit. Quas, temporibus?</p>
        </div>
      </div>
    </div>
  </header>