 {% extends 'layout.twig' %}

<<<<<<< HEAD
{% block meta %}  
            
           <meta name="description" content=" besoins/fr/ride ">
           
 {% endblock  %}

 {% block style %}   
      <style>

     
        #ridesec h1{
              font-weight:600;
              color:rgb(0,128,128);
              font-size:33px;
                                      
            }

          #ridesec h2{
              font-weight:600;
              color:rgb(0,139,139);
              font-size:28px;
            }

          #ridesec h3{
              font-weight:600;
              color:rgb(32,178,170);
              font-size:24px;
            }

          #ridesec p{
                color:#010203;
               font-size:1rem;
            }

           #ridesec ul{list-style-type: disc;}
     

      @media(max-width:900px){
      
          #ridesec h1{
              font-size:25px;
              
            }

          #ridesec h2{
              font-size:20px;
            }

          #ridesec h3{
              font-size:18px;
            }

          #ridesec p{
              font-size:16px;
            }
          }
          
      </style>
 
{% endblock  %}

{% block title %}  <title> besoins/fr/ride </title> {% endblock  %}
  
{% block content %}
 <!-- besoins/fr/visage/ride-->
                      
                        {% block lead_form_floattfr %} 
                                  {% include('/homes/data/index/fr/leadFormFloat2.twig') %}
                            {% endblock  %}
   
      <section id="ridesec" class="py-3">

=======
{% block title %}  <title> besoins/fr/ride </title> {% endblock  %}
  
{% block content %}
 

    <!-- besoins/fr/ride-->
      <section id="ride" class="py-3">
>>>>>>> 4f6e33e88789a3fda35540708f45468586efa454
        <div class="container">
          <div class="row">
          
            <div class="col-md-6">
<<<<<<< HEAD
            <h1>Les rides : Explication et causes de leur apparition</h1>
              <p>Les rides sont des plis, des sillons ou des stries sur la peau qui se manifestent avec l'âge. Les premières rides qui apparaissent sur le visage d'une personne sont généralement dues aux expressions faciales.</p>
              <p>La plupart des gens n'apprécient pas les rides, et cherchent par tous les moyens de les supprimer ou encore de retarder leur apparition par des traitements esthétiques.</p>
              
             

            </div>

            <div class="col-md-6">
              <img src="{{URLROOT}}/public/img/quisommenous/quisommenous2.jpg" alt="" 
              class="img-fluid rounded-circle d-none d-md-block about-img">
            </div>

            <div class="col-md-12">
             <h2>Causes d’apparition des rides</h2>
              <p>L’apparition des rides, en plus de l’âge, peut être accélérée par d’autres facteurs comme : Les dommages causés par le soleil, le tabagisme, la déshydratation, certains médicaments et des facteurs environnementaux et génétiques. Ces éléments déterminent quand et dans quelles zones du corps les gens vont développer des rides.</p>
              <p>La plupart des rides ont tendance à apparaître dans les parties du corps qui sont les plus exposées au soleil, en particulier le visage et le cou, le dos des mains et les bras.</p>
              <h3>Les rides font naturellement partie du processus de vieillissement </h3>
              <p>En vieillissant, la peau devient plus fine, plus sèche, moins élastique et moins capable de se protéger des dégradations. Cela entraîne l'apparition de rides, de plis et de ridules sur la peau.</p>
              <p>Les expressions du visage, par exemple, le fait de sourire, de froncer les sourcils ou de plisser les yeux de manière répétée peuvent entraîner l'apparition de rides et de ridules à un âge précoce. </p>
              <p>Chaque fois qu'une personne utilise un muscle facial, un sillon se forme sous la surface de la peau. Lorsqu'une personne est jeune, la peau se redresse, mais en vieillissant, la peau perd de sa souplesse. Les rebonds deviennent plus durs et moins fréquents, ce qui donne des sillons plus permanents.</p>
              <h3>Des facteurs externes, tels que le tabagisme et l’abus d’alcool</h3>
              <p>L’effet le plus notoire de la cigarette sur l’apparition des rides c’est celui des substances chimiques qu’elle contient. Ces derniers affectent la perte de la densité cutanée et des rides profondes apparaissent à cause de l’oxydation des tissus et l’assèchement de la peau.</p>
              <p>Le tabagisme régulier accélère le processus de vieillissement de la peau, en raison de la réduction de l'apport sanguin à la peau. </p>
             </div>
             <div class="col-md-6">
               <p>L'alcool déshydrate la peau, et une peau sèche est plus susceptible de se rider.</p>
              <h3>Un certain nombre de facteurs environnementaux. </h3>
              <p>Par exemple, faire du sport en plein air ou encore des bains de soleil ou l’abus des séances dans des cabines de bronzage, augmente le risque de développer des rides plus tôt.</p>
              <p>En effet, La lumière UV décompose les fibres de collagène et d'élastine de la peau. Ces fibres forment le tissu conjonctif de la peau. Elles sont situées sous la surface de la peau et la soutiennent. La rupture de cette couche rend la peau plus faible et moins flexible. La peau commence à s'affaisser, et des rides apparaissent.</p>
              <p>Les personnes qui travaillent au soleil ont plus de chance d'avoir des rides précoces. Les emplois qui impliquent ce type d'exposition comprennent la pêche et l'agriculture. Les marins, les golfeurs, les sauveteurs de plage et les jardiniers peuvent également être plus sujets au vieillissement précoce et plus prononcé de la peau.</p>
            </div>

             <div class="col-md-6">
               <img src="{{URLROOT}}/public/img/quisommenous/quisommenous2.jpg" alt="" 
              class="img-fluid rounded-circle d-none d-md-block about-img">
=======
              <h1>{{LANG}}</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, fuga eaque. Amet, assumenda aliquid tempore dolorum
                error eveniet doloribus sed repellat quod, dolores fuga ipsam soluta. Aliquam accusantium pariatur aut sint deleniti
                laborum ducimus voluptatem? Architecto cumque quod suscipit officiis soluta, voluptate dicta blanditiis similique
                praesentium temporibus adipisci debitis labore!</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, fuga eaque. Amet, assumenda aliquid tempore dolorum
                error eveniet doloribus sed repellat quod, dolores fuga ipsam soluta. Aliquam accusantium pariatur aut sint deleniti
                laborum ducimus voluptatem? Architecto cumque quod suscipit officiis soluta, voluptate dicta blanditiis similique
                praesentium temporibus adipisci debitis labore!</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, fuga eaque. Amet, assumenda aliquid tempore dolorum
                error eveniet doloribus sed repellat quod, dolores fuga ipsam soluta. Aliquam accusantium pariatur aut sint deleniti
                laborum ducimus voluptatem? Architecto cumque quod suscipit officiis soluta, voluptate dicta blanditiis similique
                praesentium temporibus adipisci debitis labore!</p>  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, fuga eaque. Amet, assumenda aliquid tempore dolorum
                error eveniet doloribus sed repellat quod, dolores fuga ipsam soluta. Aliquam accusantium pariatur aut sint deleniti
                laborum ducimus voluptatem? Architecto cumque quod suscipit officiis soluta, voluptate dicta blanditiis similique
                praesentium temporibus adipisci debitis labore!</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, fuga eaque. Amet, assumenda aliquid tempore dolorum
                error eveniet doloribus sed repellat quod, dolores fuga ipsam soluta. Aliquam accusantium pariatur aut sint deleniti
                laborum ducimus voluptatem? Architecto cumque quod suscipit officiis soluta, voluptate dicta blanditiis similique
                praesentium temporibus adipisci debitis labore!</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, fuga eaque. Amet, assumenda aliquid tempore dolorum
                error eveniet doloribus sed repellat quod, dolores fuga ipsam soluta. Aliquam accusantium pariatur aut sint deleniti
                laborum ducimus voluptatem? Architecto cumque quod suscipit officiis soluta, voluptate dicta blanditiis similique
                praesentium temporibus adipisci debitis labore!</p>
            
            </div>

            <div class="col-md-6">
              <img src="{{URLROOT}}/public/img/quisommenous/quisommenous2.jpg" alt="" class="img-fluid rounded-circle d-none d-md-block about-img">
>>>>>>> 4f6e33e88789a3fda35540708f45468586efa454
            </div>

          </div>
        </div>
<<<<<<< HEAD

      </section>

                        {% block leadFormFixBottomtfr %}
                              {% include('/homes/data/index/fr/leadFormFixBottom.twig') %}
                            {% endblock  %}  

=======
      </section>
>>>>>>> 4f6e33e88789a3fda35540708f45468586efa454
{% endblock  %}
  