<!-- Footer -->


{# #ffca28 amber lighten-1 #}
{# #212121 grey darken-4 #}

{# footer fixed-bottom mt-auto  py-4 white-text font-small #}
<footer  class="footer  mt-auto  py-4 white-text font-small grey darken-4">
 
      <div class="footer-copyright text-center py-2 white-text">
         <span class="text-muted"> Copyright &copy; 
         <span id="year"> </span> 
         <span class="text-muted" > <a  class="text-muted" href="https://tndevfactory.com">  Tn DEV FACTORY </a> </span>
        </span>
        
  </div>

 <div class="mt-1 text-center">
        
          <a href="#" >   <span class="  pl-2 white-text"> <i class=" fab fa-facebook-square fa-1x"></i></span> </a>
          <a href="#" >   <span class="  pl-2 white-text"><i class=" fab fa-instagram fa-1x"></i> </span> </a>
           <a href="#" >  <span class="  pl-2 white-text"><i class=" fab fa-youtube fa-1x"></i> </span> </a>
            <a href="#" > <span class="  pl-2 white-text"><i class=" fab fa-snapchat-square fa-1x"></i>    </span></a>
        </div>

</footer>






 