<!-- Footer -->


{# #ffca28 amber lighten-1 #}
{# #212121 grey darken-4 #}

{# footer fixed-bottom mt-auto  py-4 white-text font-small #}
<footer  class="footer  mt-auto  py-4  font-small " style="color:#E1AD21;background-color:#010203">
 
      <div class="footer-copyright text-center py-2 ">
         <span class="font-small "> Copyright &copy; 
         <span id="year"> </span> 
         <span class="font-small " > <a  class="font-small " href="https://tndevfactory.com" style="color:#E1AD21">  Tn DEV FACTORY </a> </span>
        </span>
        
  </div>

 <!--<div class="mt-1 text-center">
        
          <a href="#" >   <span class="  pl-2 white-text"> <i class=" fab fa-facebook-square fa-1x"></i></span> </a>
          <a href="#" >   <span class="  pl-2 white-text"><i class=" fab fa-instagram fa-1x"></i> </span> </a>
           <a href="#" >  <span class="  pl-2 white-text"><i class=" fab fa-youtube fa-1x"></i> </span> </a>
            <a href="#" > <span class="  pl-2 white-text"><i class=" fab fa-snapchat-square fa-1x"></i>    </span></a>
        </div>-->

</footer>






 