<!-- Footer -->

<footer  class="footer  mt-auto  py-4  font-small " style="color:#E1AD21;background-color:#010203">
 
      <div class="footer-copyright text-center py-2 ">
         <span class="font-small "> Copyright &copy; 
         <span id="year"> </span> 
         <span class="font-small " > <a  class="font-small " href="https://tndevfactory.com" style="color:#E1AD21">  Tn DEV FACTORY </a> </span>
        </span>
        <img class="ml-2" src="{{URLROOT}}/public/img/logo/dmca_premi_badge.png">
        
  </div>

 

</footer>






 