

<style>
.headerAR {
 
  font-size: 80%;
  text-align:right;
  padding-right:15px;
}

{# dir="rtl"  #}

</style>



            <div class="jumbotron py-2 mb-0 grey darken-4 ">
                <div class="row">
                <i class=""></i>

                <span  class="h4 px-3 white-text text-uppercase "> Aram Clinic</span > 
                <span> <i class="animated tada  white-text fas fa-phone-volume fa-2x  "> </i> </span>
                <span class=" h3 pl-2 white-text"> +262 269 33 87 99 </span> 


                <a href="#" >  <span class=" h6 pl-2 white-text "> <i class="fab fa-facebook-messenger fa-2x"></i> </span> </a>
                <a href="#" >  <span class=" h6 pl-2 white-text"> <i class=" far fa-envelope fa-2x"></i> </span> </a>
                <a href="#" >  <span class=" h6 pl-2 white-text"><i class=" fab fa-whatsapp fa-2x"></i></span> </a>
              
    
                </div>
            </div>


{# 
{% if LANG == 'en' %}

            <div class="jumbotron py-2 mb-0 grey darken-4 ">
            <div class="row">
            <i class=""></i>

             <span  class="h4 px-3 white-text text-uppercase "> Aram Clinic</span > 
             <span> <i class="animated tada  white-text fas fa-phone-volume fa-2x  "> </i> </span>
             <span class=" h3 pl-2 white-text"> +262 269 33 87 99 </span> 


            <a href="#" >  <span class=" h6 pl-2 white-text "> <i class="fab fa-facebook-messenger fa-2x"></i> </span> </a>
            <a href="#" >  <span class=" h6 pl-2 white-text"> <i class=" far fa-envelope fa-2x"></i> </span> </a>
            <a href="#" >  <span class=" h6 pl-2 white-text"><i class=" fab fa-whatsapp fa-2x"></i></span> </a>
           
 
            </div>
            </div>


{% endif %}

{% if LANG == 'gr' %}

            <div class="jumbotron py-2 mb-0 grey darken-4 ">
            <div class="row">
            <i class=""></i>

             <span  class="h4 px-3 white-text text-uppercase "> Aram Clinic</span > 
             <span> <i class="animated tada  white-text fas fa-phone-volume fa-2x  "> </i> </span>
             <span class=" h3 pl-2 white-text"> +262 269 33 87 99 </span> 


            <a href="#" >  <span class=" h6 pl-2 white-text "> <i class="fab fa-facebook-messenger fa-2x"></i> </span> </a>
            <a href="#" >  <span class=" h6 pl-2 white-text"> <i class=" far fa-envelope fa-2x"></i> </span> </a>
            <a href="#" >  <span class=" h6 pl-2 white-text"><i class=" fab fa-whatsapp fa-2x"></i></span> </a>
           
 
</div>
</div>


{% endif %}

{% if LANG == 'ar' %}
            <div dir="rtl" class="jumbotron py-2 mb-0 grey darken-4 headerAR">
            <div class="row">
            <i class=""></i>

             <span  dir="rtl" class="h4 mr-2 pr-3 white-text text-uppercase "> مستشفى ارام</span > 
             <span> <i style="font-size:24px"  class=" pr-2 animated tada  white-text fas fa-phone  "> </i> </span>
             <span  style="font-size:29px" dir="ltr" class=" px-2  h3 pr-2 white-text"> +262 269 33 87 99 </span> 


            <a href="#" >  <span class=" pl-2 white-text "> <i  class="fab fa-facebook-messenger fa-2x"></i> </span> </a>
            <a href="#" >  <span class=" pl-2 white-text"> <i class=" far fa-envelope fa-2x"></i> </span> </a>
            <a href="#" >  <span class=" pl-2 white-text"><i class=" fab fa-whatsapp fa-2x"></i></span> </a>
           
 
            </div>
            </div>


{% endif %} #}
