<!-- Mega menu responsive  -->
qsdqdsqdsdqsd
<div class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-s12">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
                    <a class="navbar-brand" href="#">Mouri Theme</a>
                   
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>

                    {# <div class="collapse navbar-collapse" id="navbar">

                        <ul class="navbar-nav ml-auto">

                            <li class="nav-item ">
                                <a class="nav-link" href="#">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">about</a>
                            </li>

                            <li class="nav-item dropdown menu-area">
                               
                                <a class="nav-link dropdown-toggle" 
                                href="#" id="mega-one" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Services
                                </a>

                                    <div class="dropdown-menu mega-area" aria-labelledby="mega-one">
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-3">
                                                <h5> Web Design </h5>
                                                <a href="#" class="dropdown-item"> html template</a>
                                                <a href="#" class="dropdown-item"> wordpress template</a><a href="#" class="dropdown-item"> joomla template</a>
                                                <a href="#" class="dropdown-item"> blogger template</a>
                                            </div> 
                                            <div class="col-sm-6 col-lg-3">
                                                <h5> Graphics design </h5>
                                                <a href="#" class="dropdown-item"> logo design</a>
                                                <a href="#" class="dropdown-item"> brochure design</a>
                                                <a href="#" class="dropdown-item"> card Design</a>
                                            </div> 
                                            <div class="col-sm-6 col-lg-3">
                                                <h5> company profile</h5>
                                                <p> We are reputed multinational company </p>
                                            </div> 
                                            <div class="col-sm-6 col-lg-3">
                                                <h5> image</h5>
                                                <img src="{{URLROOT}}/public/img/showcase/1.jpg" alt="" style="width:100%">
                                            </div>
                                        </div>
                                        
                                    </div>
                            </li>

                            <li class="nav-item dropdown menu-area">

                                <a class="nav-link dropdown-toggle" 
                                href="#" id="mega-two" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                PortFolio
                                </a>
                                    <div class="dropdown-menu mega-area" aria-labelledby="mega-two">
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-3">
                                                <h5> image</h5>
                                                <img src="{{URLROOT}}/public/img/showcase/1.jpg" alt="" style="width:100%">
                                            </div> 
                                            <div class="col-sm-6 col-lg-3">
                                                <h5> Market Place we work</h5>
                                                <a href="#" class="dropdown-item"> theme forest</a>
                                                <a href="#" class="dropdown-item"> codester</a>
                                                <a href="#" class="dropdown-item"> creative Market</a><a href="#" class="dropdown-item"> Graphic river </a>
                                            </div> 
                                            <div class="col-sm-6 col-lg-3">
                                                <h5> IT Consulting</h5>
                                                <a href="#" class="dropdown-item"> Why consulting </a>
                                                <a href="#" class="dropdown-item"> Consulting offerings</a>
                                                <a href="#" class="dropdown-item"> Delivery Excellence </a>
                                            </div> 
                                             <div class="col-sm-6 col-lg-3">
                                                <h5> TAGS</h5>
                                                <p> 
                                                    <span class="badge badge-secondary "> Web design</span>
                                                    <span class="badge badge-secondary "> Marketing</span>
                                                    <span class="badge badge-secondary "> Graphics design</span>
                                                    <span class="badge badge-secondary "> consulting</span>
                                                    <span class="badge badge-secondary "> template</span>
                                                     <span class="badge badge-secondary "> wordpress</span>
                                                </p>
                                            </div> 
                                            
                                        </div>
                                        
                                    </div>
                            </li>

                            
                            <li class="nav-item">
                                <a class="nav-link" href="#" >contact</a>
                            </li>
                        </ul>
                       
                    </div> #}
                </nav>
            </div>
        </div>
    </div>
</div>
