
{% extends 'layout.twig' %}

{% block head %}
    <title> CONTACT </title>
{% endblock  %}


{% block content %}

 
 
                         {% if LANG == 'fr' %}
                            {% include('homes/data/contact/fr/pageHeader.twig') %}
                            {% include('homes/data/contact/fr/contactSection.twig') %}
                            {% include('homes/data/contact/fr/staff.twig') %}
                          {% endif %}

                          {% if LANG == 'ar' %}
                               {% include('/homes/data/contact/ar/pageHeader.twig') %}
                                {% include('/homes/data/contact/ar/contactSection.twig') %}
                                {% include('/homes/data/contact/ar/staff.twig') %}
                          {% endif %}

                          {% if LANG == 'en' %}
                               {% include('/homes/data/contact/en/pageHeader.twig') %}
                                {% include('/homes/data/contact/en/contactSection.twig') %}
                                {% include('/homes/data/contact/en/staff.twig') %}

                          {% endif %}   
                          
                          {% if LANG == 'gr' %}
                              {% include('/homes/data/contact/gr/pageHeader.twig') %}
                                {% include('/homes/data/contact/gr/contactSection.twig') %}
                                {% include('/homes/data/contact/gr/staff.twig') %}
                          {% endif %}
                    

{% endblock  %}

