
{% extends 'layout.twig' %}
{% block title %}  <title> prod </title> {% endblock  %}
  
{% block content %}

<<<<<<< HEAD
        {% if LANG == 'fr' %}
=======
        {# {% if LANG == 'fr' %} #}
>>>>>>> 4f6e33e88789a3fda35540708f45468586efa454

                        {# {% block simpleMegamenu %}
                                {% include('/inc/navbarMegaMenu.html.twig') %}
                            {% endblock  %}  #}

                            {# {% block carouselfr %}
                                {% include('/components/index/fr/showcaseBackgroundImage.twig') %}
                            {% endblock  %}  #}
                          
<<<<<<< HEAD
                            {% block showcaseVideofr %}
                                {% include('/homes/data/index/fr/showcaseVideo.twig') %}
                            {% endblock  %}
                          
                            {% block leadFormFloatfr %} 
=======
                            {% block carouselfr %}
                                {% include('/homes/data/index/fr/showcaseVideo.twig') %}
                            {% endblock  %}
                          
                            {% block lead_form_floatfr %} 
>>>>>>> 4f6e33e88789a3fda35540708f45468586efa454
                                  {% include('/homes/data/index/fr/leadFormFloat.twig') %}
                            {% endblock  %}

                            {# {% block lead_form_floatzoho %} 
                                  {% include('/components/index/fr/leadFormFloatzoho.twig') %}
                            {% endblock  %} #}
                           
<<<<<<< HEAD
                            {% block searchFormfr %} 
=======
                            {% block searchForm %} 
>>>>>>> 4f6e33e88789a3fda35540708f45468586efa454
                                  {% include('/homes/data/index/fr/searchForm.twig') %}
                            {% endblock  %}

                            {# {% block lead_form_fixfr %} 
                                  {% include('/components/index/fr/leadFormFix.twig') %}
                            {% endblock  %}
                             #}

<<<<<<< HEAD
                           {% block homeIconSectionfr %}
=======
                           {% block home_icon_sectionfr %}
>>>>>>> 4f6e33e88789a3fda35540708f45468586efa454
                                <div class="container ">
                                {% include('/homes/data/index/fr/homeIconSection.twig') %}
                                </div>
                            {% endblock  %}

                             {# {% block home_heading_sectionfr %}
                                {% include('/components/index/fr/homeHeadingSection.twig') %}
                            {% endblock  %} #}
<<<<<<< HEAD
                             {% block homeHeadingSectionCurvedfr0 %}
                                {% include('/homes/data/index/fr/homeHeadingSectionCurved.twig') %}
                            {% endblock  %}

                            {% block infoSectionfr %}
                              <div class="container ">
                                {% include('/homes/data/index/fr/infoSection.twig') %}
                              </div>
                            {% endblock  %}

                            {# {% block video_play_sectionfr %}
                            {% include('/components/index/fr/videoPlaySection.twig') %}
                            {% endblock  %} #}

                            {% block homeHeadingSectionCurved2fr %}
                            {% include('/homes/data/index/fr/homeHeadingSectionCurved2.twig') %}
=======
                             {% block home_heading_section1fr %}
                                {% include('/homes/data/index/fr/homeHeadingSectionCurved.twig') %}
>>>>>>> 4f6e33e88789a3fda35540708f45468586efa454
                            {% endblock  %}

                            {# {% block photo_gallery_sectionfr %}
                              <div class="container ">
                                {% include('/components/index/fr/photoGallerySection.twig') %}
                              </div>
                            {% endblock  %} #}

                            {% block photoGallerySectionBeforeAfterfr %}
                              <div class="container ">
<<<<<<< HEAD
                                {% include('/homes/data/index/fr/photoGallerySectionBeforeAfter.twig') %}
                              </div>
                            {% endblock  %}

                            {% block homeHeadingSectionCurvedfr %}
                                {% include('/homes/data/index/fr/homeHeadingSectionCurved.twig') %}
                            {% endblock  %}

                            {% block videoGallerySectionfr %}
                              <div class="container ">
                                {% include('/homes/data/index/fr/videoGallerySection.twig') %}
                              </div>
                            {% endblock  %}

                             {% block homeHeadingSectionCurved2fr2 %}
                                {% include('/homes/data/index/fr/homeHeadingSectionCurved2.twig') %}
                            {% endblock  %}
                            
                           {% block counterUpfr %}
                                {% include('/homes/data/index/fr/counterUp.twig') %}
                            {% endblock  %}

                             {% block homeIsoAwardfr %}
                                {% include('/homes/data/index/fr/homeIsoAward.twig') %}
                            {% endblock  %}

                            

                            {% block homeHeadingSectionCurvedfr2 %}
                                {% include('/homes/data/index/fr/homeHeadingSectionCurved.twig') %}
                            {% endblock  %}

                            {% block testimonialsfr %}
                              <div class="container ">
                                {% include('/homes/data/index/fr/testimonials.twig') %}
                              </div>
                            {% endblock  %}

                           

                            {# {% block newsletter_sectionfr %}
                              {% include('/components/index/fr/newsletterSection.twig') %}
                            {% endblock  %}   #}
                            
                            {% block leadFormFixBottomfr %}
                              {% include('/homes/data/index/fr/leadFormFixBottom.twig') %}
                            {% endblock  %}  

       {% endif %}
      
        {% if LANG == 'en' %}

                        {# {% block simpleMegamenu %}
                                {% include('/inc/navbarMegaMenu.html.twig') %}
                            {% endblock  %}  #}

                            {# {% block carouselen %}
                                {% include('/components/index/en/showcaseBackgroundImage.twig') %}
                            {% endblock  %}  #}
                          
                            {% block showcaseVideoen %}
                                {% include('/homes/data/index/en/showcaseVideo.twig') %}
=======
                                {% include('/homes/data/index/fr/infoSection.twig') %}
                              </div>
                            {% endblock  %}

                            {# {% block video_play_sectionfr %}
                            {% include('/components/index/fr/videoPlaySection.twig') %}
                            {% endblock  %} #}

                            {% block homeHeadingSectionCurved2fr %}
                            {% include('/homes/data/index/fr/homeHeadingSectionCurved2.twig') %}
                            {% endblock  %}

                            {# {% block photo_gallery_sectionfr %}
                              <div class="container ">
                                {% include('/components/index/fr/photoGallerySection.twig') %}
                              </div>
                            {% endblock  %} #}

                            {% block photo_gallery_sectionBEFOREAFTERfr %}
                              <div class="container ">
                                {% include('/homes/data/index/fr/photoGallerySectionBeforeAfter.twig') %}
                              </div>
                            {% endblock  %}

                            {% block home_heading_section3fr %}
                                {% include('/homes/data/index/fr/homeHeadingSectionCurved.twig') %}
                            {% endblock  %}

                            {% block video_gallery_sectionvidfr %}
                              <div class="container ">
                                {% include('/homes/data/index/fr/videoGallerySection.twig') %}
                              </div>
                            {% endblock  %}

                             {% block home_heading_section4fr %}
                                {% include('/homes/data/index/fr/homeHeadingSectionCurved2.twig') %}
                            {% endblock  %}
                            
                           {% block home_counterUp %}
                                {% include('/homes/data/index/fr/counterUp.twig') %}
                            {% endblock  %}

                             {% block home_isoLogo %}
                                {% include('/homes/data/index/fr/homeIsoAward.twig') %}
                            {% endblock  %}

                            

                            {% block home_headingSectionCurved %}
                                {% include('/homes/data/index/fr/homeHeadingSectionCurved.twig') %}
                            {% endblock  %}

                            {% block video_gallery_sectionfr %}
                              <div class="container ">
                                {% include('/homes/data/index/fr/testimonials.twig') %}
                              </div>
                            {% endblock  %}

                           

                            {# {% block newsletter_sectionfr %}
                              {% include('/components/index/fr/newsletterSection.twig') %}
                            {% endblock  %}   #}
                            
                            {% block leadFormFixBottomfr %}
                              {% include('/homes/data/index/fr/leadFormFixBottom.twig') %}
                            {% endblock  %}  

        {# {% endif %} #}
      
 
      {# {% if LANG == 'en' %}
                            {% block carouselan %}
                                {% include('/components/index/en/showcase_caroussel.twig') %}
>>>>>>> 4f6e33e88789a3fda35540708f45468586efa454
                            {% endblock  %}
                          
                            {% block leadFormFloaten %} 
                                  {% include('/homes/data/index/en/leadFormFloat.twig') %}
                            {% endblock  %}

                            {# {% block lead_form_floatzoho %} 
                                  {% include('/components/index/en/leadFormFloatzoho.twig') %}
                            {% endblock  %} #}
                           
                            {% block searchFormen %} 
                                  {% include('/homes/data/index/en/searchForm.twig') %}
                            {% endblock  %}

                            {# {% block lead_form_fixen %} 
                                  {% include('/components/index/en/leadFormFix.twig') %}
                            {% endblock  %}
                             #}

                           {% block homeIconSectionen %}
                                <div class="container ">
                                {% include('/homes/data/index/en/homeIconSection.twig') %}
                                </div>
                            {% endblock  %}

                             {# {% block home_heading_sectionen %}
                                {% include('/components/index/en/homeHeadingSection.twig') %}
                            {% endblock  %} #}
                             {% block homeHeadingSectionCurveden0 %}
                                {% include('/homes/data/index/en/homeHeadingSectionCurved.twig') %}
                            {% endblock  %}

                            {% block infoSectionen %}
                              <div class="container ">
                                {% include('/homes/data/index/en/infoSection.twig') %}
                              </div>
                            {% endblock  %}

                            {# {% block video_play_sectionen %}
                            {% include('/components/index/en/videoPlaySection.twig') %}
                            {% endblock  %} #}

                            {% block homeHeadingSectionCurved2en %}
                            {% include('/homes/data/index/en/homeHeadingSectionCurved2.twig') %}
                            {% endblock  %}

                            {# {% block photo_gallery_sectionen %}
                              <div class="container ">
                                {% include('/components/index/en/photoGallerySection.twig') %}
                              </div>
                            {% endblock  %} #}

                            {% block photoGallerySectionBeforeAfteren %}
                              <div class="container ">
                                {% include('/homes/data/index/en/photoGallerySectionBeforeAfter.twig') %}
                              </div>
                            {% endblock  %}

                            {% block homeHeadingSectionCurveden %}
                                {% include('/homes/data/index/en/homeHeadingSectionCurved.twig') %}
                            {% endblock  %}

                            {% block videoGallerySectionen %}
                              <div class="container ">
                                {% include('/homes/data/index/en/videoGallerySection.twig') %}
                              </div>
                            {% endblock  %}

                             {% block homeHeadingSectionCurved2en2 %}
                                {% include('/homes/data/index/en/homeHeadingSectionCurved2.twig') %}
                            {% endblock  %}
                            
                           {% block counterUpen %}
                                {% include('/homes/data/index/en/counterUp.twig') %}
                            {% endblock  %}

                             {% block homeIsoAwarden %}
                                {% include('/homes/data/index/en/homeIsoAward.twig') %}
                            {% endblock  %}

                            

                            {% block homeHeadingSectionCurveden2 %}
                                {% include('/homes/data/index/en/homeHeadingSectionCurved.twig') %}
                            {% endblock  %}

                            {% block testimonialsen %}
                              <div class="container ">
                                {% include('/homes/data/index/en/testimonials.twig') %}
                              </div>
                            {% endblock  %}

                           

                            {# {% block newsletter_sectionen %}
                              {% include('/components/index/en/newsletterSection.twig') %}
                            {% endblock  %}   #}
                            
                            {% block leadFormFixBottomen %}
                              {% include('/homes/data/index/en/leadFormFixBottom.twig') %}
                            {% endblock  %}  

       {% endif %}
      
        {% if LANG == 'gr' %}

                        {# {% block simpleMegamenu %}
                                {% include('/inc/navbarMegaMenu.html.twig') %}
                            {% endblock  %}  #}

                            {# {% block carouselgr %}
                                {% include('/components/index/gr/showcaseBackgroundImage.twig') %}
                            {% endblock  %}  #}
                          
                            {% block showcaseVideogr %}
                                {% include('/homes/data/index/gr/showcaseVideo.twig') %}
                            {% endblock  %}
                          
                            {% block leadFormFloatgr %} 
                                  {% include('/homes/data/index/gr/leadFormFloat.twig') %}
                            {% endblock  %}

                            {# {% block lead_form_floatzoho %} 
                                  {% include('/components/index/gr/leadFormFloatzoho.twig') %}
                            {% endblock  %} #}
                           
                            {% block searchFormgr %} 
                                  {% include('/homes/data/index/gr/searchForm.twig') %}
                            {% endblock  %}

                            {# {% block lead_form_fixgr %} 
                                  {% include('/components/index/gr/leadFormFix.twig') %}
                            {% endblock  %}
                             #}

                           {% block homeIconSectiongr %}
                                <div class="container ">
                                {% include('/homes/data/index/gr/homeIconSection.twig') %}
                                </div>
                            {% endblock  %}

                             {# {% block home_heading_sectiongr %}
                                {% include('/components/index/gr/homeHeadingSection.twig') %}
                            {% endblock  %} #}
                             {% block homeHeadingSectionCurvedgr0 %}
                                {% include('/homes/data/index/gr/homeHeadingSectionCurved.twig') %}
                            {% endblock  %}

                            {% block infoSectiongr %}
                              <div class="container ">
                                {% include('/homes/data/index/gr/infoSection.twig') %}
                              </div>
                            {% endblock  %}

                            {# {% block video_play_sectiongr %}
                            {% include('/components/index/gr/videoPlaySection.twig') %}
                            {% endblock  %} #}

                            {% block homeHeadingSectionCurved2gr %}
                            {% include('/homes/data/index/gr/homeHeadingSectionCurved2.twig') %}
                            {% endblock  %}

                            {# {% block photo_gallery_sectiongr %}
                              <div class="container ">
                                {% include('/components/index/gr/photoGallerySection.twig') %}
                              </div>
                            {% endblock  %} #}

                            {% block photoGallerySectionBeforeAftergr %}
                              <div class="container ">
                                {% include('/homes/data/index/gr/photoGallerySectionBeforeAfter.twig') %}
                              </div>
                            {% endblock  %}

                            {% block homeHeadingSectionCurvedgr %}
                                {% include('/homes/data/index/gr/homeHeadingSectionCurved.twig') %}
                            {% endblock  %}

                            {% block videoGallerySectiongr %}
                              <div class="container ">
                                {% include('/homes/data/index/gr/videoGallerySection.twig') %}
                              </div>
                            {% endblock  %}

                             {% block homeHeadingSectionCurved2gr2 %}
                                {% include('/homes/data/index/gr/homeHeadingSectionCurved2.twig') %}
                            {% endblock  %}
                            
                           {% block counterUpgr %}
                                {% include('/homes/data/index/gr/counterUp.twig') %}
                            {% endblock  %}

                             {% block homeIsoAwardgr %}
                                {% include('/homes/data/index/gr/homeIsoAward.twig') %}
                            {% endblock  %}

                            

                            {% block homeHeadingSectionCurvedgr2 %}
                                {% include('/homes/data/index/gr/homeHeadingSectionCurved.twig') %}
                            {% endblock  %}

                            {% block testimonialsgr %}
                              <div class="container ">
                                {% include('/homes/data/index/gr/testimonials.twig') %}
                              </div>
                            {% endblock  %}

                           

                            {# {% block newsletter_sectiongr %}
                              {% include('/components/index/gr/newsletterSection.twig') %}
                            {% endblock  %}   #}
                            
                            {% block leadFormFixBottomgr %}
                              {% include('/homes/data/index/gr/leadFormFixBottom.twig') %}
                            {% endblock  %}  

       {% endif %}
      
        {% if LANG == 'ar' %}

                        {# {% block simpleMegamenu %}
                                {% include('/inc/navbarMegaMenu.html.twig') %}
                            {% endblock  %}  #}

                            {# {% block carouselar %}
                                {% include('/components/index/ar/showcaseBackgroundImage.twig') %}
                            {% endblock  %}  #}
                          
                            {% block showcaseVideoar %}
                                {% include('/homes/data/index/ar/showcaseVideo.twig') %}
                            {% endblock  %}
                          
                            {% block leadFormFloatar %} 
                                  {% include('/homes/data/index/ar/leadFormFloat.twig') %}
                            {% endblock  %}

                            {# {% block lead_form_floatzoho %} 
                                  {% include('/components/index/ar/leadFormFloatzoho.twig') %}
                            {% endblock  %} #}
                           
                            {% block searchFormar %} 
                                  {% include('/homes/data/index/ar/searchForm.twig') %}
                            {% endblock  %}

                            {# {% block lead_form_fixar %} 
                                  {% include('/components/index/ar/leadFormFix.twig') %}
                            {% endblock  %}
                             #}

                           {% block homeIconSectionar %}
                                <div class="container ">
                                {% include('/homes/data/index/ar/homeIconSection.twig') %}
                                </div>
                            {% endblock  %}

                             {# {% block home_heading_sectionar %}
                                {% include('/components/index/ar/homeHeadingSection.twig') %}
                            {% endblock  %} #}
                             {% block homeHeadingSectionCurvedar0 %}
                                {% include('/homes/data/index/ar/homeHeadingSectionCurved.twig') %}
                            {% endblock  %}

                            {% block infoSectionar %}
                              <div class="container ">
                                {% include('/homes/data/index/ar/infoSection.twig') %}
                              </div>
                            {% endblock  %}

                            {# {% block video_play_sectionar %}
                            {% include('/components/index/ar/videoPlaySection.twig') %}
                            {% endblock  %} #}

                            {% block homeHeadingSectionCurved2ar %}
                            {% include('/homes/data/index/ar/homeHeadingSectionCurved2.twig') %}
                            {% endblock  %}

                            {# {% block photo_gallery_sectionar %}
                              <div class="container ">
                                {% include('/components/index/ar/photoGallerySection.twig') %}
                              </div>
                            {% endblock  %} #}

                            {% block photoGallerySectionBeforeAfterar %}
                              <div class="container ">
                                {% include('/homes/data/index/ar/photoGallerySectionBeforeAfter.twig') %}
                              </div>
                            {% endblock  %}

                            {% block homeHeadingSectionCurvedar %}
                                {% include('/homes/data/index/ar/homeHeadingSectionCurved.twig') %}
                            {% endblock  %}

                            {% block videoGallerySectionar %}
                              <div class="container ">
                                {% include('/homes/data/index/ar/videoGallerySection.twig') %}
                              </div>
                            {% endblock  %}

                             {% block homeHeadingSectionCurved2ar2 %}
                                {% include('/homes/data/index/ar/homeHeadingSectionCurved2.twig') %}
                            {% endblock  %}
                            
                           {% block counterUpar %}
                                {% include('/homes/data/index/ar/counterUp.twig') %}
                            {% endblock  %}

<<<<<<< HEAD
                             {% block homeIsoAwardar %}
                                {% include('/homes/data/index/ar/homeIsoAward.twig') %}
                            {% endblock  %}

                            

                            {% block homeHeadingSectionCurvedar2 %}
                                {% include('/homes/data/index/ar/homeHeadingSectionCurved.twig') %}
                            {% endblock  %}

                            {% block testimonialsar %}
                              <div class="container ">
                                {% include('/homes/data/index/ar/testimonials.twig') %}
                              </div>
                            {% endblock  %}

                           

                            {# {% block newsletter_sectionar %}
                              {% include('/components/index/ar/newsletterSection.twig') %}
                            {% endblock  %}   #}
                            
                            {% block leadFormFixBottomar %}
                              {% include('/homes/data/index/ar/leadFormFixBottom.twig') %}
                            {% endblock  %}  

       {% endif %}
      

        
      
 
=======
    {% endif %}  #}
>>>>>>> 4f6e33e88789a3fda35540708f45468586efa454

 {% endblock  %}
