{% extends 'layout.twig' %}

{% block head %}
    <title> QUI SOMMES NOUS </title>
    <style>
          

          </style>
{% endblock  %}

{% block content %}


                         {% if LANG == 'fr' %}
                            {% include('/components/qui_somme_nous/fr/page_header.twig') %}
                            {% include('/components/qui_somme_nous/fr/about_section.twig') %}
                            {% include('/components/qui_somme_nous/fr/icons_boxes.twig') %}
                            {% include('/components/qui_somme_nous/fr/testimonial.twig') %}
                          {% endif %}

                          {% if LANG == 'en' %}
                             {% include('/components/qui_somme_nous/en/page_header.twig') %}
                            {% include('/components/qui_somme_nous/en/about_section.twig') %}
                            {% include('/components/qui_somme_nous/en/icons_boxes.twig') %}
                            {% include('/components/qui_somme_nous/en/testimonial.twig') %}
                          {% endif %}

                          {% if LANG == 'gr' %}
                              {% include('/components/qui_somme_nous/gr/page_header.twig') %}
                            {% include('/components/qui_somme_nous/gr/about_section.twig') %}
                            {% include('/components/qui_somme_nous/gr/icons_boxes.twig') %}
                            {% include('/components/qui_somme_nous/gr/testimonial.twig') %}

                          {% endif %}  

                          {% if LANG == 'ar' %}
                            {% include('/components/qui_somme_nous/ar/page_header.twig') %}
                            {% include('/components/qui_somme_nous/ar/about_section.twig') %}
                            {% include('/components/qui_somme_nous/ar/icons_boxes.twig') %}
                            {% include('/components/qui_somme_nous/ar/testimonial.twig') %}
                          {% endif %}



 

{% endblock  %}

