{# genioplastiefr #}
<style>
#genioplastiefr{
  font-family: "Times New Roman", Times, serif;
  font-size: 150%;
}
</style>

<div id="genioplastiefr" class="container mt-5"> 


<h1>Génioplastie ou mentoplastie réalisée en Turquie </h1>

<p>La génioplastie pratiquée en Turquie sert à corriger la forme disgracieuse d’un menton et à améliorer les deux vues du visage : la vue de face et la vue de profil. L’acte chirurgical au cours d’une génioplastie consiste à remodeler la forme d’un menton en galoche ou la forme d’un menton fuyant. </p>

<p>La détermination de la nature du menton se fait à l’aide d’une ligne verticale qui débute du front, passe par le nez et s’arrête au niveau de la surface horizontale du menton.</p>

 <p>En effet, si cette ligne s’arrête avant la limite du menton celui-ci est alors saillant. Si cette même ligne dépasse le menton, il est dans ce cas, fuyant. Le chirurgien peut détecter, lors de l’examen une graisse excédentaire au niveau de la zone du menton. Avant de faire une génioplastie, il procèdera à une liposuccion pour aspirer la graisse rebelle.</p>

<h2>Comment se déroule la génioplastie ? </h2>

 <p>Le chirurgien, après avoir examiné le patient décidera du type de l’anesthésie à faire et de la durée de l’hospitalisation. Une génioplastie peut être pratiquée sous anesthésie générale ou bien sous anesthésie locale. Elle peut nécessiter une nuit d’hospitalisation comme elle peut se dérouler en ambulatoire. La génioplastie en Turquie dure 30 minutes ou une heure. </p>

 <p>L’incision réalisée au cours de cette intervention est très discrète. Elle se réalise soigneusement à l’intérieur de l’appareil buccal au niveau de la gencive inférieure ou bien à l’externe du menton à l’aide d’une technique très avancée.  </p>

 <p>Pour améliorer la forme d’un menton en galoche, le chirurgien procède à un rabotage de l’os ou bien à une ostéotomie de recul. La première technique requiert juste de limer la partie traitée alors que la deuxième technique consiste à couper carrément l’excès osseux et à se servir de palettes et de vis métalliques pour fixer le devant du menton. Cette méthode est appelée ostéotomie de recul. </p>

 <p>La réparation de la forme inesthétique d’un menton fuyant, se traite par la pose d’une prothèse, par une greffe osseuse ou par une ostéotomie d’avancement. Cette dernière consiste à créer un fragment osseux puis à le repositionner vers l’avant à l’aide de palettes et de vis métalliques. </p>

 <p>Pour réaliser une greffe osseuse, le chirurgien prélève une quantité d’os de l’une de ces parties : le nez ou le bassin puis il s’en sert pour remodeler la forme du menton. Cette technique, bien étudiée et très fréquente n’altère pas les parties donneuses. </p>

<h2>Suites opératoires de la chirurgie esthétique du menton </h2>

 <p>La génioplastie est une opération esthétique peu douloureuse. Quelle que soit la méthode utilisée lors de l’intervention, le patient pourra dans tous les cas bouger sa mâchoire sans aucune crainte. Il portera un pansement modelant sous le menton durant 05 ou 08 jours. Des bleus et un œdème seront observés les premiers. </p>

<h2>Résultat de la mentoplastie </h2>
 <p>Le résultat d’une génioplastie est immédiat. Il s’améliore davantage après 03 mois quand l’œdème sera complètement résorbé.  </p>




</div>
