{% extends 'layout.twig' %}

{% block head %}
    <title> abdo</title>
    <style>
          

          </style>
{% endblock  %}

{% block content %}
                         {% if LANG == 'fr' %}
                            {% include('/components/nosTraitements/fr/chirurgiePlastique/augmentationImplantsMammaire.twig') %}
                            
                          {% endif %}

                          {% if LANG == 'en' %}
                            {% include('/components/nosTraitements/en/chirurgiePlastique/augmentationImplantsMammaire.twig') %}
                            
                          {% endif %}

                          {% if LANG == 'gr' %}
                              {% include('/components/nosTraitements/gr/chirurgiePlastique/augmentationImplantsMammaire.twig') %}
                           
                          {% endif %}  

                          {% if LANG == 'ar' %}
                            {% include('/components/nosTraitements/ar/chirurgiePlastique/augmentationImplantsMammaire.twig') %}
                         
                          {% endif %}


{% endblock  %}

