 {% extends 'layout.twig' %}

{% block meta %}  
            
           <meta name="description" content=" besoins/fr/ride ">
           
 {% endblock  %}

 {% block style %}   
      <style>

     
        #ridesec h1{
              font-weight:600;
              color:rgb(0,128,128);
              font-size:33px;
                                      
            }

          #ridesec h2{
              font-weight:600;
              color:rgb(0,139,139);
              font-size:28px;
            }

          #ridesec h3{
              font-weight:600;
              color:rgb(32,178,170);
              font-size:24px;
            }

          #ridesec p{
                color:#010203;
               font-size:1rem;
            }

           #ridesec ul{list-style-type: disc;}
     

      @media(max-width:900px){
      
          #ridesec h1{
              font-size:25px;
              
            }

          #ridesec h2{
              font-size:20px;
            }

          #ridesec h3{
              font-size:18px;
            }

          #ridesec p{
              font-size:16px;
            }
          }
          
      </style>
 
{% endblock  %}

{% block title %}  <title> Trous Barbe</title> {% endblock  %}
  
{% block content %}
 <!-- besoins/fr/visage/ride-->
                      
                        {% block lead_form_floattfr %} 
                                  {% include('/homes/data/index/fr/leadFormFloat2.twig') %}
                            {% endblock  %}
   
      <section id="ridesec" class="py-3">

        <div class="container">
          <div class="row">
          
            <div class="col-md-6">
            <h1>Trous barbe</h1>
            <p>Si une zone chauve apparaît soudainement sur votre barbe, vous souffrez peut-être d'alopécie ou de calvitie. Cette condition peut également toucher la barbe et les moustaches, pas seulement le cuir chevelu.  En effet, l’alopécie provoque la perte de cheveux qui se traduit par l’apparition des petites taches rondes clairsemée sur le visage et plus précisément dans la barbe, donnant lieu à des trous dans la barbe. Ces trous peuvent disparaître ou peuvent durer de nombreuses années. </p>

                          
            </div>

            <div class="col-md-6">
              <img src="{{URLROOT}}/public/img/quisommenous/quisommenous2.jpg" alt="" 
              class="img-fluid rounded-circle d-none d-md-block about-img">
            </div>

            <div class="col-md-12">

             <h2>Quelles sont les causes des trous dans la barbe ?</h2>
              <p>L’alopécie n'est pas contagieuse. Il s'agit d'une maladie auto-immune dans laquelle le système immunitaire du corps s'attaque, dans ce cas, les follicules pileux.</p>
              <p>Ainsi, de minuscules cellules du système immunitaire, appelées cellules T, se rassemblent autour de la base d'un follicule pileux et tentent de le tuer. Cela provoque la chute des cheveux. Mais à un moment donné, l'attaque immunitaire doit cesser et les cheveux repoussent.</p>
              <p>Les trous dans la barbe peuvent être déclenchés par : </p>




             </div>

             <div class="col-md-6 ">

              <h3>Déséquilibre hormonal </h3>
              <p>Les hormones équilibrées dans le corps jouent un rôle essentiel dans la croissance de la barbe. Mais, une réduction considérable des hormones peut avoir un impact sur l'attribut masculin, ce qui peut entraîner le processus d'alopécie.
              <h3>Problèmes dentaires </h3>
              <p> Les maladies dentaires ignorées peuvent être à l'origine du développement des trous dans la barbe.
              <h3>Changements mentaux </h3>
              <p>La disparité mentale et le stress intense peuvent être à l'origine du développement des trou dans la barbe.
              <h3>Génétique </h3>
              <p>La perte des follicules pileux peut être génétique
              <h3>Infection </h3>
              <p>Habituellement, la cause légendaire des trous dans la barbe est la contamination fongique.
              <h3>Manque d'acide aminé et des vitamines</h3>
              <p>La barbe est faite de kératine, c'est une sorte d'acide aminé. L'acide aminé peut être obtenu à partir d'autres sources comme les animaux et les organismes qui sont riches en protéines Par exemple : les œufs, le soja, les algues comestibles. Aussi, la carence en vitamines A et bêta A, qui porte le rôle vital de faire pousser la barbe plus rapidement, peut causer les trous dans la barbe.</p>



            </div>

             <div class="col-md-6">
               <img src="{{URLROOT}}/public/img/quisommenous/quisommenous2.jpg" alt="" 
              class="img-fluid pt-5 rounded-circle d-none d-md-block about-img">
            </div>

          </div>
        </div>

      </section>

                        {% block leadFormFixBottomtfr %}
                              {% include('/homes/data/index/fr/leadFormFixBottom.twig') %}
                            {% endblock  %}  

{% endblock  %}
  